{% extends "base.html" %}

{% block content %}
<div class="rounded min-h-screen flex items-center justify-center bg-stone-900 ">
  <div class="bg-neutral-950 p-8 rounded-xl shadow-xl w-full max-w-md">

    <form method="post" class="space-y-5">
      {% csrf_token %}

      <div>
        <label for="username" class="block text-sm font-medium text-white">Username</label>
        <input type="text" name="username" id="username" required
               class="mt-1 block w-full px-4 py-2 bg-white text-[#424B54] border border-[#424B54] rounded-lg focus:outline-none focus:ring-2 focus:ring-[#881600]">
      </div>

      <div>
        <label for="password" class="block text-sm font-medium text-white">Password</label>
        <input type="password" name="password" id="password" required
               class="mt-1 block w-full px-4 py-2 bg-white text-[#424B54] border border-[#424B54] rounded-lg focus:outline-none focus:ring-2 focus:ring-[#881600]">
      </div>

      {% if form.errors %}
        <p class="text-[#881600] text-sm font-semibold">Invalid username or password.</p>
      {% endif %}



      <button type="submit"
              class="w-full bg-[#881600] text-white py-2 px-4 rounded-full hover:bg-red-700 transition duration-200 shadow-md">
        Login
      </button>
      <div class="text-center">
        <a href="{% url 'password_reset' %}" class="text-sm text-red-500 hover:underline">
          Forgot password?
        </a>
      </div>
    </form>
    
    <p class="mt-6 text-center text-sm text-gray-300">
        Don't have an account?
        <a href="{% url 'signup' %}" class="text-red-500 font-medium hover:underline">Signup</a>
    </p>




  </div>
</div>
{% endblock %}